<nav class="menu">
    <ul>
        <li class="home_icon"><a href="index"><img src="../assets/images/logo2.png" alt="home_icon"></a></li>
        <li><a href="newConnection">Start New Connection</a></li>
        <!--        Checks for and display login or sign out text depending on what pages is currently being visited-->
        <% try { %>
            <% consle.log("SESSION USERPROFILE") %>
                <% console.log(req.session.userProfile) %>
                    <% if(req.session.userProfile!=undefined ) { %>
                        <li><a href="savedConnections">My Connections</a></li>
                        <li><a href="logout">Sign Out</a></li>
                        <% } else{ %>
                            <li><a href="login">Login</a></li>
                            <li><a href="signup">Sign Up</a></li>
                            <% } %>
                                <% } catch(err){ %>
                                    <% console.log(err) %>
                                        <li><a href="login">Login</a></li>
                                        <li><a href="signup">Sign Up</a></li>
                                        <% } %>
    </ul>
</nav>
<div class="gen_nav_div">
    <nav class="gen_nav">
        <ul>
            <li><a href="connections">Connections</a></li>
        </ul>
    </nav>
</div>