<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections</title>
    <link rel="icon" href="../assets/images/logo2.png">
    <link rel="stylesheet" href="../assets/css/newConnection.css">
</head>

<body>
<%- include('partials/menu.ejs') %>
<div class="container">
    <div class="content">
        <div class="content-text">
            <form id="connection_form" action="">
                <div>
                    <label for="topic">Topic: </label>
                    <select name="topic" id="topic">
                        <option disabled selected value>Select a topic</option>
                        <option value="Anime">Anime</option>
                        <option value="Manga">Manga</option>
                        <option value="Game">Game</option>
                    </select>
                </div>
                <div>
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="details">Details: </label>
                    <textarea rows="4" cols="50" id="details" name="details" form="connection_form"></textarea>
                </div>

                <div>
                    <label for="where">Where: </label>
                    <input type="text" id="where" name="where">
                </div>
                <div>
                    <label for="when">When: </label>
                    <input type="datetime-local" id="when" name="when">
                </div>
                <div>
                    <input type="submit" id="submit_button">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
</body>

</html>