<footer>
    <div class="footer_links">
        <ul>
            <li><a href="../about">About</a></li>
            <li><a href="../contact">Contact</a></li>
        </ul>
    </div>
    <p class="copyright"><small>&copy; Copyright 2020</small></p>
</footer>