<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="../assets/images/logo2.png">
    <link rel="stylesheet" href="../assets/css/about.css">
</head>

<body>
<%- include('partials/menu.ejs') %>
<div class="container">
    <div class="content">
        <div class="content-text">
            <h1>About</h1>
            <p>Welcome to Otaku Meetup, a place where people around the world can connect and interact with one
                another. Users can form and create connections in order to discuss and have fun over a common
                interest. Otaku Meetup is a place for those that enjoy japanese media and culture which includes:
                anime, manga, and games.</p>
            <img src="../assets/images/character_earth_chikyu.png" alt="earth_character">
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
</body>

</html>