<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="icon" href="../assets/images/logo2.png">
    <link rel="stylesheet" href="../assets/css/contact.css">
</head>

<body>
<%- include('partials/menu.ejs') %>
<div class="container">
    <div class="content">
        <div class="content-text">
            <h1>Contact</h1>
            <h2>Address: 123 Road Rd, Charlotte NC 28211</h2>
            <h2>Phone: (704)777-7777</h2>
            <img src="../assets/images/map_open.png" alt="map">
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
</body>

</html>